body {
  margin: 0;
}
.container {
  display: grid;
  resize: both;
  grid-template-areas:
    "nav header"
    "nav article";
  grid-template-rows: 225px 1fr;
  grid-template-columns: 20% 1fr;
  margin: 0;
  min-height: 100vh;
}

#header-container {
  background-color: aqua;
  grid-area: header;
  display: grid;
}
.flex-container-1 {
  display: flex;
  justify-content: space-between;
}
.flex-search {
  justify-content: flex-start;
}
.header-flex-items-1 {
  display: flex;
  gap: 36px;
}
.logo-menu {
  display: flex;
  justify-content: space-between;
}
.flex-menu {
  display: flex;
  gap: 36px;
  list-style: none;
}
#sidebar {
  background-color: orange;
  grid-area: nav;
  display: grid;
  grid-template-rows: 10% auto;
}

ul {
  list-style: none;
}
.navigation a {
  text-decoration: none;
}
#main-content {
  background-color: brown;
  grid-area: article;
  display: grid;
  grid-template-columns: 70% auto;
}
.boxes {
  display: grid;
  grid-template-rows: repeat(3, 250px);
  grid-template-columns: repeat(2, 40%);
  gap: 32px;
}
.project {
  border: 1px solid black;
}
.messages {
  display: grid;

  border: 1px solid black;
}
.trending-followers {
  display: grid;

  border: 1px solid black;
}
svg {
  max-width: 100%;
  width: 30px;
  height: auto;
  fill: white;
}
input {
  border: 1px solid grey;
  border-radius: 5px;
  height: 20px;
  width: 100%;
}
.dashboard {
  max-width: 100%;
  display: flex;
  align-items: center;
  margin-left: 30px;
  color: white;
  font-size: 36px;
  gap: 24px;
}
.dashboard-icon {
  max-width: 100%;
  height: auto;
  fill: white;
  width: 40px;
}
.search-icon {
  fill: black;
}
.notification-icon {
  fill: black;
}
a {
  color: white;
}

.home,
.profile,
.messages-dash,
.history,
.tasks,
.communities,
.settings,
.support,
.privacy {
  max-width: 100%;
  display: flex;
  align-items: center;
  gap: 36px;
  font-size: 24px;
  margin-top: 40px;
}
.bottom-dash {
  margin-top: 106px;
}
